@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-main-ultralight: oklch(0.97 0.0074 197.03);
  --color-main: oklch(0.92 0.0239 244.14);
  --color-main-header: oklch(0.92 0.0239 244.14 / 70%);
  --color-main-gray: oklch(0.74 0.0843 185.7);
  --color-avocado-100: oklch(0.8 0.8 120);
  --color-avocado-200: oklch(67.53% 0.261 5.93 / 94.01%);
  --color-avocado-300: oklch(34.29% 0.1529 156.28);
  --color-custom-black: oklch(0.14 0.0112 284.82);
  --color-custom-gray: oklch(1 0 0 / 20%);
  --color-custom-lightgray: oklch(0.72 0 0);
  --color-custom-darkgray: oklch(0.3 0.025 309.17);

  --breakpoint-xs: 25rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@layer utilities {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-normal;
  }
  h4 {
    @apply text-xl font-normal;
  }
  .green {
    @apply bg-avocado-300;
  }
  .horizontal-f {
    @apply flex flex-row;
  }
  .vertical-f {
    @apply flex flex-col;
  }
  .container {
    @apply max-w-7xl xl:mx-auto;
  }
  .hover-underline {
    @apply hover:underline underline-offset-2;
  }
  nav a {
    position: relative;
    display: block;
    -webkit-transition: 225ms ease-in-out;
    -o-transition: 225ms ease-in-out;
    transition: 225ms ease-in-out;
  }
  nav a:hover {
    text-shadow: 0.5px 0 0 #13121e;
  }
  nav a::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #ee751a;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 225ms ease-in-out;
    -o-transition: 225ms ease-in-out;
    transition: 225ms ease-in-out;
  }
  nav a:hover::before {
    opacity: 1;
  }
  .SelectContent {
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
  }
  .dropdown-content-width-fullelectContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
  }
  .adamantine {
    @apply flex flex-row gap-4 whitespace-nowrap;
  }
  footer {
    .footer-head {
      @apply grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] justify-items-center text-sm lg:text-base lg:grid-cols-[2fr_1fr_1.5fr_1fr] lg:justify-items-stretch gap-5 mb-6;
    }
    .footer-logo {
      @apply flex justify-center pb-5 col-span-full w-full border-b border-[oklch(0.22_0.0214_284.49)] lg:border-none lg:col-span-1;
    }
    .footer-bottom {
      @apply py-2 text-custom-gray text-xs grid sm:grid-cols-2 gap-2 items-center lg:py-0 lg:grid-cols-4 justify-items-center border-t border-[oklch(0.22_0.0214_284.49)] lg:border-none;

      a {
        @apply hover:underline underline-offset-2;
      }
    }
  }
  .social-media-group {
    @apply flex flex-row items-center gap-2 whitespace-nowrap;
  }
}
.AccordionChevron {
  transition: transform 900ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}
