@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-main: oklch(93.7% 0.023 258.36);
  --color-avocado-100: oklch(0.8 0.8 120);
  --color-avocado-200: oklch(67.53% 0.261 5.93 / 94.01%);
  --color-avocado-300: oklch(34.29% 0.1529 156.28);
}

:root {
  --radius: 0.5rem;
}

@layer utilities {
  .green {
    @apply bg-avocado-300;
  }
  nav a {
    position: relative;
    display: block;
    -webkit-transition: 225ms ease-in-out;
    -o-transition: 225ms ease-in-out;
    transition: 225ms ease-in-out;
  }
  nav a:hover {
    text-shadow: 0.5px 0 0 #13121e;
  }
  nav a::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #ee751a;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 225ms ease-in-out;
    -o-transition: 225ms ease-in-out;
    transition: 225ms ease-in-out;
  }
  nav a:hover::before {
    opacity: 1;
  }

  .SelectContent {
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
  }
  .dropdown-content-width-fullelectContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
  }
}
.AccordionChevron {
  transition: transform 900ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}
